// Base class
.tooltip {
  position: absolute;
  z-index: $zindex-tooltip;
  display: block;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  font-size: $font-size-sm;
  opacity: 0;

  &.in { opacity: $tooltip-opacity; }

  &.tooltip-top,
  &.bs-tether-element-attached-bottom {
    padding: $tooltip-arrow-width 0;
    margin-top: -3px;

    .tooltip-arrow {
      bottom: 0;
      #{$align}: 50%;
      margin-#{$align}: -$tooltip-arrow-width;
      border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
      border-top-color: $tooltip-arrow-color;
    }
  }
  &.tooltip-#{$align-inverse},
  &.bs-tether-element-attached-#{$align} {
    padding: 0 $tooltip-arrow-width;
    margin-#{$align}: 3px;

    .tooltip-arrow {
      top: 50%;
      #{$align}: 0;
      margin-top: -$tooltip-arrow-width;
      border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
      border-#{$align-inverse}-color: $tooltip-arrow-color;
    }
  }
  &.tooltip-bottom,
  &.bs-tether-element-attached-top {
    padding: $tooltip-arrow-width 0;
    margin-top: 3px;

    .tooltip-arrow {
      top: 0;
      #{$align}: 50%;
      margin-#{$align}: -$tooltip-arrow-width;
      border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
      border-bottom-color: $tooltip-arrow-color;
    }
  }
  &.tooltip-#{$align},
  &.bs-tether-element-attached-#{$align-inverse} {
    padding: 0 $tooltip-arrow-width;
    margin-#{$align}: -3px;

    .tooltip-arrow {
      top: 50%;
      #{$align-inverse}: 0;
      margin-top: -$tooltip-arrow-width;
      border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
      border-#{$align}-color: $tooltip-arrow-color;
    }
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: $tooltip-max-width;
  padding: 3px 8px;
  color: $tooltip-color;
  text-align: center;
  background-color: $tooltip-bg;
  @include border-radius($border-radius);
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
